<html>
	<body>
	<h1 class="font-size-53">Indigenious Languages details</h1>
	<table border="1">
		<tr class="brown">
			<th>Language</th>
			<th>Family/Origin</th>
			<th class="text-align-right">No. of speakers</th>
			<th>Region</th>
		</tr>
		 <% @list_of_langauges.each do |item| %>
		<tr>
			<td class="medium-down"><%= item.name %></td>
			<td><%=item.family %></td>
			<td><%=item.users %></td>
			<td><%=item.region %></td>
		</tr><% end %>
	</table>

	<%-- Test block XHTML multi-line block quote.

        <div class="invalid padding-top-303 padding-bottom-304 <%=item.Blue %>">
            These should not be detected
        </div>

   --%>
	</body>
</html>

<script>
    YAHOO.util.Dom.addClass('div1','yui1');                 // YUI variant 1
    YAHOO.util.Dom.addClass('div2', "yui2" );               // YUI variant 2
    YAHOO.util.Dom.addClass('div1',' yui3 yui4 ');          // YUI variant 3
    YAHOO.util.Dom.addClass('div1'," yui5 yui6 ");          // YUI variant 4
    YAHOO.util.Dom.hasClass(document.body,"yui7");          // YUI variant 5
    YAHOO.util.Dom.removeClass(document.body,"yui8");       // YUI variant 6
</script>
